*{
    box-sizing: border-box;
}
.bungkus{
    position: absolute;
    right: 0;
}
.container {
    background-color: white;
    width: 500px;
    /* height: 550px; */
    float: left;
    margin: 20px;
}

.container1 {
    width: 220px;
    float: left;
    margin: 20px;
}

.item-container{
	font-size: 3rem 
	font-family: 'verdana'
	text-align: center;
}

.header{
    padding: 10px 20px;

}

.header img{
    height: 80px;
	width: 100px
	font-family:'Verdana'
	text-align: right;
    /* background-color: chartreuse; */
    
}

.header span{ 
    font-size: 1.8rem;
	font-family:'Verdana'
    /*
    padding-bottom: 50px;
    display: inline-block;
    background-color: brown; */
}

.item {
    background-color: rgb(100, 100, 100);
    width: 230px;
    height: 150px;
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 35px 30px 35px;
    box-sizing: border-box;
    color: aliceblue;
	font: helvetica;
}

.item-title{
    border-top: 5px solid cyan ;
    font-size: 1.2rem;
	font-family:'Verdana'
} 

.value-item{
    font-size: 4rem;
	font-family:'Verdana'
}

.value-item2{
    font-size: 2.8rem;
	font-family:'Verdana'
}

.value-item3{
    font-size: 1rem;
	font-family:'Verdana'
}

.item-unit{
	font-size: 1.2rem;
	font-family:'Verdana'
}

.bt-blue{
    border-top: 5px solid springgreen ;
}
body {
    background-color: gray;
}
